<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Valhalla.v3</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="jobs">
                <i class="bi bi-list-task d-flex align-items-center"></i>Zadania
            </NavLink>
        </div>

        <div class="nav-item px-3" hidden>
            <NavLink class="nav-link" href="quizzes">
                <i class="bi bi-question-square-fill d-flex align-items-center"></i>Quizy
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cars">
                <i class="bi bi-car-front-fill d-flex align-items-center"></i>Samochody
            </NavLink>
        </div>

        <div class="nav-item px-3" hidden>
            <NavLink class="nav-link" href="fees">
                <i class="bi bi-wallet-fill d-flex align-items-center"></i>Opłaty
            </NavLink>
        </div>
        <div class="position-abs w-100">
            <div class="nav-item px-3 w-100">
                <NavLink class="nav-link" href="admin">
                    <i class="bi bi-door-open-fill d-flex align-items-center"></i>Wyloguj
                </NavLink>
            </div>

            <div class="nav-item px-3 w-100">
                <NavLink class="nav-link" href="admin">
                    <i class="bi bi-gear-fill d-flex align-items-center"></i>Administracja
                </NavLink>
            </div>
        </div>
    </nav>
</div>

