<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Valhalla.v3</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="jobs">
                <i class="fa-solid fa-calendar-day pe-2"></i>Zadania
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="quizzes">
                <i class="fa-solid fa-clipboard-question pe-2"></i>Quizy
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cars">
                <i class="fa-solid fa-car-side pe-2"></i>Samochody
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fees">
                <i class="fa-solid fa-wallet pe-2"></i>Opłaty
            </NavLink>
        </div>

        <div class="nav-item px-3 position-absolute bottom-0 w-100">
            <NavLink class="nav-link" href="admin">
                <i class="fa-solid fa-gear pe-2"></i> Administracja
            </NavLink>
        </div>
    </nav>
</div>

