@inject NavigationManager NavManager
@rendermode InteractiveAuto

<div class="col-md-4 mb-4">
    <NavLink class="nav-link" href="@Url">
        <div class="card card-main">
            <div class="card-body">
                <h4 class="card-title">@Title</h4>
                <h5 class="card-text">@Description</h5>
            </div>
        </div>
    </NavLink>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Description { get; set; }
   
    [Parameter]
    public string Url { get; set; }
}
