@using Valhalla_v3.Shared.CarHistory
@inject NavigationManager navigation

<div class="modal fade @(isChoiceOpen ? "show" : "")" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:@(isChoiceOpen ? "block" : "none");" @onkeydown="HandleKeyDown">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-moje">
                <h5 class="modal-title" id="exampleModalLabel">Pytanie</h5>
                <button type="button" class="btn-close" @onclick="() => Close()"></button>
            </div>
            <div class="modal-body modal-body-moje">
                <h6 class="text-break">@Question</h6>
                <input type="text" class="form-control" @bind="@Answer">
            </div>
            <div class="modal-footer modal-body-moje">
                <button class="btn btn-danger" @onclick="() => HandleValidStationSubmit()">Zapisz</button>
                <button class="btn btn-success" @onclick="() => Close()">Anuluj</button>
            </div>
        </div>
    </div>
</div>

