@page "/"
@using Valhalla_v3.Database
@inject ValhallaComtext con;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.<br />
@mess
<br />

@code {

	private string mess { get; set; }
	protected override async Task OnInitializedAsync()

	{
		try
		{
			using (con)
			{
				if (con.Database.CanConnect())
				{
						mess = "połączono";

				}
				else
					mess = "lipa";
			}
		}
		catch (Exception ex)
		{
			mess = ex.Message;
		}
		StateHasChanged();
	}
}