@page "/admin"
@rendermode InteractiveAuto

<PageTitle>Panel administratora</PageTitle>

<h1>Panel administratora</h1>

<Tabs>
    <Tab Title="Słowniki" IsActive="true">
        <Content>
            <Tabs>
                <Tab Title="Projekty" IsActive="true">
                    <Content>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nazwa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                </tr>
                            </tbody>
                        </table>
                    </Content>
                </Tab>
                <Tab Title="Stacje paliw">
                    <Content>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nazwa</th>
                                    <th scope="col">Opis</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                </tr>
                            </tbody>
                        </table>
                    </Content>
                </Tab>
                <Tab Title="Mechanicy">
                    <Content>
                        <p class="mt-2">
                            <b>This is some placeholder content the Contact tab's associated content.</b> Clicking another tab will toggle the visibility of this one for the next.
                        </p>
                    </Content>
                </Tab>
                <Tab Title="Operatorzy">
                    <Content>
                        <p class="mt-2">
                            <b>This is some placeholder content the Contact tab's associated content.</b> Clicking another tab will toggle the visibility of this one for the next.
                        </p>
                    </Content>
                </Tab>
            </Tabs>
        </Content>
    </Tab>
    
</Tabs>