@page "/admin"
@rendermode InteractiveAuto

<PageTitle>Panel administratora</PageTitle>

<h1>Panel administratora</h1>

<Tabs>
    <Tab Title="Słowniki" IsActive="true">
        <Content>
            <Tabs>
                <Tab Title="Projekty" IsActive="true">
                    <Content>
                        <table class="mt-2 table-dark table-hover table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nazwa</th>
                                    <th scope="col">Akcje</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                </tr>

                            </tbody>
                        </table>
                    </Content>
                </Tab>
                <Tab Title="Stacje paliw">
                    <Content>
                        <table class="mt-2 table-dark table-hover table">

                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nazwa</th>
                                    <th scope="col">Opis</th>
                                    <th scope="col">Akcje</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                </tr>
                            </tbody>
                        </table>
                    </Content>
                </Tab>
                <Tab Title="Mechanicy">
                    <Content>
                        <table class="mt-2 table-dark table-hover table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nazwa</th>
                                    <th scope="col">Opis</th>
                                    <th scope="col">Akcje</th>
                                </tr>
                            </thead>
                            <tbody>


                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                </tr>
                            </tbody>
                        </table>
                    </Content>
                </Tab>
                <Tab Title="Operatorzy">
                    <Content>
                        <table class="mt-2 table-dark table-hover table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Imię</th>
                                    <th scope="col">Akcje</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Mark</td>
                                </tr>
                            </tbody>
                        </table>
                    </Content>
                </Tab>
            </Tabs>
        </Content>
    </Tab>
    
</Tabs>