@using Valhalla_v3.Shared.CarHistory
@inject NavigationManager navigation
@inject HttpClient Http

<EditForm Model="@formModel">
    <div class="mb-3">
        <label for="Cost" class="form-label">Koszt</label>
        <InputNumber id="Cost" class="form-control" @bind-Value="formModel.Cost" />
    </div>
    <div class="mb-3">
        <label for="CostPerLitr" class="form-label">Cena za litr</label>
        <InputNumber id="CostPerLitr" class="form-control" @bind-Value="formModel.CostPerLitr" />
    </div>
    <div class="mb-3">
        <label for="Mileage" class="form-label">Przebieg</label>
        <InputNumber id="Mileage" class="form-control" @bind-Value="formModel.Mileage" />
    </div>
    <div class="mb-3">
        <label for="Mileage" class="form-label">Stacja</label>
        <InputSelect id="Mileage" class="form-control" @bind-Value="formModel.GasStationId">
            @if (formModel.GasStationId == 0)
            {
                <option selected value="">Wybierz stację</option>
            }
            @foreach (var fuel in ListGasStation)
            {
                <option value="@fuel.Id">@fuel.Name</option>
            }
        </InputSelect>
    </div>
     <div class="d-flex justify-content-between">
        <button class="btn btn-primary w-25" type="button" @onclick="HandleValidFuelSubmit">Zapisz</button>
        <button class="btn btn-primary w-25"type="button" @onclick="OpenStation">Dodaj stację</button>
    </div>
</EditForm>

<div class="modal fade @(isGasSttionOpen ? "show" : "")" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:@(isGasSttionOpen ? "block" : "none");">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-moje">
                <h5 class="modal-title" id="exampleModalLabel">Stacja paliw</h5>
                <button type="button" class="btn-close" @onclick="CloseStation"></button>
            </div>
            <div class="modal-body modal-body-moje">
                <GasStationAddModal OnFormStationSubmit="HandleStationSubmit" />
            </div>
        </div>
    </div>
</div>