@page "/cars"
@using Valhalla_v3.Shared.CarHistory
@rendermode InteractiveAuto
@inject HttpClient Http
@inject NavigationManager navigation

<PageTitle>Samochody</PageTitle>
@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger">
        @ErrorMessage
    </div>
}
<div class="container-fluid text-center">
    <div class="row">
        <h1>Samochody</h1>
    </div>
    <div class="row">
        @if (messages is null)
        {
            <p><em>Pobieranie danych...</em></p>
        }
        else if (messages.Count == 0)
        {
            <p>Brak pojazdów w bazie.</p>
        }
        
        else
        {
            @for (int i = 0; i < messages.Count; i += 3)
            {
                <div class="row">
                    @for (int j = i; j < i + 3 && j < messages.Count; j++)
                    {
                        <Valhalla_v3.Client.Components.Card 
                            Title="@messages[j].Brand" 
                            Description="@messages[j].Model"
                            Url=@($"/cars/{messages[j].Id}") />
                    }
                </div>
            }
        }
    </div>
</div>
<div class="fixed-buttons">
    <button class="btn btn-success" @onclick=Create>Utwórz nowy</button>
</div>
